
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About us</title>
    
</head>
<body>
    
<div class="container-fluid mt-5 about-style " id="aboutid">
  <div class="row">
    <div class="col-md-10 col-12 mx-auto">
      <div class="row">
<h1 class="text-center main-heading">About us</h1>
<p class=" text-center sub-heading"></p>
        <!-- Left side content -->
        <div class="col-md-6 col-12 hero-text ">
          <figure>
            <img src="images/about.svg" alt=":)">
          </figure>
        </div>

        
        <!-- Right side content -->

        <div class="col-md-6 col-12 hero-text  d-flex justify-content-centre align-items-start flex-column ">
          <h1>We Are The Professional Developers &#128187;</h1>
          <p>We are the team of <span class="bold-style">Bari Associates</span> the full stack 
          developers web dev etc etc 
          we will shall how now will work wi
          th you to make you work at the other level of world</p>
          
          <button type="button" class="btn btn-primary btn-style">Read More</button>
        </div>

       
      </div>
    </div>
  </div>
</div>



<!-- About us page-->

</body>
</html>