<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Your Page Title</title>
  <link rel="stylesheet" href="/css/bootstrap.min.css"> 
  <style>
    body {
      padding-top: 56px;
    }

    .navbar {
      position: fixed;
      width: 80%;
      top: 0;
      background-color: #a26969; 
      z-index: 1000;
      transition: background-color 0.3s ease; 
    }

    .navbar-brand {
      font-weight: bold;
    }

    .navbar-scrolled {
      background-color: #779dc3; 
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    }

   

   
    body.fixed-navbar {
      padding-top: 56px;
    }
  </style>
</head>
<body>

<div class="container-fluid mt navbar-style py-auto">
  <div class="row">
    <div class="col-md-10 col-12 mx-auto">

      <nav class="navbar navbar-expand-lg ">
        <a class="navbar-brand" href="#logo">Promoton</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#aboutid">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#serviceid">Service</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Gallery</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#contactid">Contact</a>
            </li>
          </ul>
        </div>
      </nav>

    </div>
  </div>
</div>



<script src="/jq/jquery.min.js"></script> 
<script src="/js/bootstrap.min.js"></script>

<script>

  document.addEventListener("DOMContentLoaded", function() {
    var navbar = document.querySelector('.navbar');

    window.addEventListener('scroll', function() {
      if (window.scrollY > navbar.offsetTop) {
        navbar.classList.add('navbar-scrolled');
        document.body.classList.add('fixed-navbar');
      } else {
        navbar.classList.remove('navbar-scrolled');
        document.body.classList.remove('fixed-navbar');
      }
    });
  });
</script>

</body>
</html>
